.container{
    background-image: url("https://i5.walmartimages.com/asr/3311d5ae-b7c2-4fe1-8e93-91de7c0b0187.39586429c7a0f103a7c0e946e5cc565f.jpeg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: 50%;
height: 50%;
}